a{
  text-decoration: none;
  color: #77a
}
a:hover{
  text-decoration: none;
  color: rgba(119,119,170,.50)
}

.card{
  margin-bottom: 1rem;
  background-color: #334;
  color: #77a
}
.text-muted {
  color: rgba(119,119,170,.50)!important;
}

.form-control {
  background-color:  rgba(119,119,170,.50);
  border-color: #334
}

.form-control:focus{
  background-color:  rgba(119,119,170,.50);
  border: none;
}

.btn-primary{
  background-color: #446!important;
  border: none;
}

.form-label{
  color: "white"!important
}

p:hover{
  cursor: default;
}

.rounded-circle{
  border: 5px solid #77c
}